<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Consul" publicKeyToken="20a6ad9a81df1d95" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.2.6" newVersion="0.7.2.6" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>